<body>
    <div class="form-style-1">
        <legend class="legend"><span class="number">1</span>Update Company</legend>
        <form [formGroup]="updateCompanyForm">
            <fieldset>
            <label>Email</label>
            <input type="email" placeholder="email" formControlName="email"/><br/>
            <label>Password</label>
            <input type="text" placeholder="password" formControlName="password"/><br/>
            <input type="button" value="Update" (click)="updateComapny()"/>
            </fieldset>
        </form>
        
    </div>
</body>