<body>
    <div>
         <!-- Searching Options -->
         <a href="#" class="getAllCoupons" (click)="getAllCoupons()"
         routerLink="/customer">Show All</a>
         <form [formGroup]="priceForm" class="byPriceChoice">
             <input type="number" formControlName="price"/>
              <a href="#" class="byPrice" (click)="getByPrice()" 
              routerLink="/customer">By Price</a>
         </form>
         <form [formGroup]="categoryForm" class="byCategoryChoice">
             <select id="categorySelect" formControlName="categorySelect">
                  <option *ngFor="let c of categories" value={{c}}>{{c}}</option>
             </select>
             <a href="#" class="byCategory"(click)="getByCategory()" 
            routerLink="/customer">By Category</a>
        </form>

        <!-- Customer Coupons Table -->
        <article>
            <legend class="legend1"><span class="number1">1</span>My Coupons</legend>
            <table *ngIf=coupons class="content-table">
             <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start-Date</th>
                    <th>End-Date</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let c of coupons">
                    <td>{{c.couponId}}</td>
                    <td>{{c.type}}</td>
                    <td>{{c.title}}</td>
                    <td>{{c.description}}</td>
                    <td>{{c.startDate}}</td>
                    <td>{{c.endDate}}</td>
                    <td>{{c.amount}}</td>
                    <td>{{c.price}}</td>
                    <td>{{c.image}}</td>
                </tr>
            </tbody>
            </table>
        </article>

        <!-- All Coupons Table -->
        <article>
            <legend class="legend2"><span class="number2">1</span>All Coupons</legend>
            <table *ngIf=systemCoups class="content-table2">
             <thead>
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start-Date</th>
                    <th>End-Date</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Buy</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let s of systemCoups">
                    <td>{{s.couponId}}</td>
                    <td>{{s.type}}</td>
                    <td>{{s.title}}</td>
                    <td>{{s.description}}</td>
                    <td>{{s.startDate}}</td>
                    <td>{{s.endDate}}</td>
                    <td>{{s.amount}}</td>
                    <td>{{s.price}}</td>
                    <td>{{s.image}}</td>
                    <td><a href="#" class="buyBtn"(click)="purchaseCoupon(s)" routerLink="/customer">buy</a></td>
                </tr>
            </tbody>
            </table>
        </article>
        <a href="#" class="logoutBtn" (click)="logout()">logout</a>
    </div>
</body>
